@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

:root {
    --indigo-dye: #1B4C79ff;
    --drab-dark-brown: #434031ff;
    --alabaster: #E9E8E2ff;
    --bone: #E1D9CAff;
    --gamboge: #F3A22Cff;
}



body {
    background-color: var(--indigo-dye);
}

div {
    border-radius: 10px;
}

.kontainer {
    background-color: var(--alabaster);
    font-family: "Nunito Sans", sans-serif;
    width: 1200px;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid #000;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .5);
}

.left {
    flex-direction: row-reverse;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 1100px;
    margin: auto;
}

.vertical {
    margin-left: 20px;
}

.vertical .box {
    height: 290px;
    width: 690px;
    display: flex;
    justify-content: space-between;
}

.vertical .box:nth-of-type(1) {
    margin-bottom: 20px;
}


.box {
    width: 390px;
    height: 600px;
    background-color: var(--gamboge);
    padding: 40px;
    border: 3px solid #000;
}

.intro {
    justify-content: space-around;
    background-color: var(--gamboge);
    padding: 50px;
    border: 3px solid #000;
}

.intro_text {
    font-size: 20px;
    width: 500px;
}

.intro_img {
    width: 400px;
    height: 400px;
}

a.button {
    background-color: var(--bone);
    border-radius: 5px;
    border: 2px solid var(--drab-dark-brown);
    padding: 5px;
    text-decoration: none;
    color: var(--drab-dark-brown);
    display: block;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
}

img {
    width: 210px;
    border-radius: 50%;
    border: 3px solid var(--indigo-dye);
}

img.center {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}


h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 4px 4px 0px #525252;
}

h3 {
    text-shadow: 1px 1px 0px #525252;
}

.vertical p {
    width: 300px;
}

p {
    font-family: "Nunito Sans", sans-serif;
}

ul {
    margin-left: 30px;
    margin-top: 20px;
}